<div class="container">
  <div class="row" style="background:white">
    <div class="col-4">
      <img src="{{user.image}}" class="rounded-circle" width="300px" height="300px">
    </div>
    <hr>
    <div class="col-8">
      <ul class="list-unstyled">
        <li class="my-2"><strong>{{user.name}}</strong></li>
        <li>{{user.email}}</li>
      </ul>
      <a href="/users/{{user.id}}/edit">編輯</a>
    </div>
  </div>

</div>

<br />
<br />